
	<head>
        <style>
        input{
            width:30%;
            height: 40px;
            padding: 10px;
            }

            select{
                width: 30%;
                height: 40px;
                padding: 10px;
            }
        </style>
	</head>
	
                        <div class="form" style="text-align: center;">
  <h2 style="margin-top: 10px;">Booking Page</h2>

  <label for="usluga"><h6>Odaberi uslugu:</h6></label>
  <select id="usluga">
    <option value="">-- Odaberi --</option>
  </select><br><br>

  <label for="barber"><h6>Odaberi frizera:</h6></label>
  <select id="barber">
    <option value="">-- Odaberi --</option>
  </select><br><br>

  <label for="termin"><h6>Odaberi termin:</h6></label>
  <input id="termin" type="datetime-local" /><br><br>

  <button id="bookingBtn" type="submit">Rezervisi</button>
</div>

</body>
</html>