<section id="features">
  <div class="container">
    <header>
      <h2><strong>Men’s Favorites</strong></h2>
    </header>
    <div class="row aln-center">
      <div class="col-4 col-6-medium col-12-small">
        <!-- Feature -->
        <section>
          <img class="image featured" src="images/Textured_Crop.webp" alt="" />
          <header>
            <h3>Textured Crop</h3>
          </header>
          <p>
            Kratak i slojevit stil s lagano razbarušenim vrhom. Moderna frizura
            koja ne traži puno održavanja. Savršeno za: one koji žele stylish
            frizuru bez puno truda.
          </p>
        </section>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <!-- Feature -->
        <section>
          <img class="image featured" src="images/classic fade 2.jpg" alt="" />
          <header>
            <h3>Classic Fade</h3>
          </header>
          <p>
            ezvremenski stil s precizno izblijedjenim stranama i urednim gornjim
            dijelom. Idealno za poslovni, ali i ležerni izgled. Savršeno za:
            muškarce koji žele čist, uredan i moderan izgled.
          </p>
        </section>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <!-- Feature -->
        <section>
          <img
            class="image featured"
            height="514px"
            src="images/Slick Back Undercut 2.jpg"
            alt=""
          />
          <header>
            <h3>Slick Back Undercut</h3>
          </header>
          <p>
            Opis:Strane kratke, a gornji dio počešljan unazad za elegantan, ali
            moćan izgled. Popularno među trendseterima. Savršeno za: večernje
            izlaske, posebne prilike ili poslovni stil.
          </p>
        </section>
      </div>
      <div class="col-12">
        <ul class="actions"></ul>
      </div>
    </div>
  </div>
</section>

<!-- Banner -->
<section id="banner">
  <div class="container">
    <p>Because great hair isn’t a luxury — it’s a lifestyle.</p>
  </div>
</section>

<!-- Main -->

<div class="container">
  <div class="row">
    <!-- Content -->
    <div id="content" class="col-12 col-12-medium">
      <!-- Post -->

      <!-- Post -->
      <article class="box post">
        <header>
          <h2>Your Hair. Your Style. Our Passion.</h2>
        </header>
        <img class="image featured" src="images/before and after.png" />
        <p>
          Naša misija je jednostavna: učiniti da se osjećaš samopouzdano,
          osvježeno i prirodno stilizirano. Uz tim strastvenih frizera, vrhunske
          proizvode za njegu kose i opuštajuću atmosferu, ovdje smo da ti
          pružimo više od običnog šišanja — pružamo ti iskustvo. Bilo da želiš
          hrabru transformaciju, malo dotjerivanje ili dan posvećen sebi, Frizz
          Factory je tvoj salon za kreativnost, njegu i samopouzdanje. Zakorači
          u svoj najbolji izgled — mi ćemo se pobrinuti za ostalo.
        </p>
      </article>
    </div>

    <!-- Sidebar -->
  </div>
</div>
